@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Shadows+Into+Light+Two&display=swap');

/* ROOT STYLES */
:root {
    --heading-font: "Luckiest Guy", sans-serif;
    --body-font: "Shadows Into Light Two", sans-serif;
    --dark-blue: #133795;
    --light-blue: #7BB7E0;
    --off-white: #FFFCF9;
    --green: #169D53;
    --yellow: #FBD301;
    --orange: #ED5F1E;
    --purple: #881CA6;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--body-font);
    letter-spacing: 0.15rem;
    font-weight: 500;
}

/* Landing page */
.landing-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--off-white);
    margin: 0;
}

/* Logo Animation */

@keyframes spiral-bounce {
    0% {
        transform: translateY(-100%) translateX(-100%) scale(0) rotate(-360deg);
        opacity: 0;
    }

    50% {
        transform: translateY(10px) translateX(10px) scale(1.2) rotate(0deg);
        opacity: 1;
    }

    70% {
        transform: translateY(-20px);
    }

    85% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.landing-logo {
    max-width: 100%;
    height: auto;
    animation: spiral-bounce 1s ease-in-out;
    display: block;
    object-fit: contain;
}

.logo-container {
    width: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-envelope {
    background-color: var(--off-white);
    border: none;
}

.button-envelope:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Homepage*/

.navbar-toggler {
    border: none;
}

#base-nav {
    background-color: var(--light-blue);
    margin-bottom: 1rem;
    width: 100%;
}

.navbar .nav-link {
    color: var(--dark-blue);
    font-family: var(--body-font);
    letter-spacing: 0.15rem;
    font-weight: 600;
    font-size: 20px;
}

.nav-link:hover {
    color: var(--yellow);
}

.navbar .nav-link .active {
    font-weight: 480;
}

/*masthead*/

.header-container {
    padding: 0 1.5rem;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-you-logo {
    max-width: 600px;
    width: 90%;
    height: auto;
    display: block;
    object-fit: contain;
    margin-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
}

#post-container {
    position: relative;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    min-height: calc(100vh - 100px); /* space for posts :) */
}

.post-cloud {
    position: absolute;
    width: 20vw;
    height: min-content;
    background-color: #7BB7E0;
    border-radius: 50px;
    transition: transform 0.5s;
}

.post-cloud:hover {
    z-index: 1000;
    transform: scale(1.1);
}

/* edit modal to allow enoough space */

/* edit modal to allow enoough space */

/* Custom modal styles */
.modal-dialog {
    max-width: 80%; /* Adjust width as needed */
    margin: 1.75rem auto;
}

.modal-content {
    border-radius: 15px;
    padding: 20px;
    background-color: #7BB7E0; /* Same background color as post clouds */
}

/* Custom modal header and body styles */
.modal-header, .modal-body {
    border-bottom: none; /* Remove border between header and body */
}

.modal-header {
    border-radius: 15px 15px 0 0;
}

.modal-footer {
    border-radius: 0 0 15px 15px;
}

/* modal buttons */
.modal .btn {
    margin: 0.5rem;
}


/* footer */

footer {
    background-color: var(--dark-blue);
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    /* Media query for social media icons at the end of sheet */
}

footer a {
    color: var(--off-white);
    font-family: var(--body-font);
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 0.15rem;
    font-weight: 550;
}

footer a:hover {
    cursor: pointer;
    color: var(--yellow);
}

.fab {
    font-size: 1.5rem;
    color: var(--yellow);
    padding: 0.2rem;
}

#footer-nourish {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--off-white);
    font-weight: 180;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}


/*Auth pages*/

.signout-button,
.signup-button,
.login-button {
    border: 1px solid var(--orange);
    background-color: var(--orange);
    color: var(--off-white);
    font-family: var(--body-font);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.signout-button:hover,
.signup-button:hover,
.login-button:hover {
    border: 1px solid var(--orange);
    background-color: var(--off-white);
    color: var(--orange);
    font-family: var(--body-font);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Media Queries */
@media (min-width: 620px) {
    .footer-control {
        gap: 1.5rem;
    }
}


@media (max-width: 620px) {
    .footer-control {
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}