@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Shadows+Into+Light+Two&display=swap');

/* ROOT STYLES */
:root {
    --heading-font: "Luckiest Guy", sans-serif;
    --body-font: "Shadows Into Light Two", sans-serif;
    --dark-blue: #133795;
    --light-blue: #7BB7E0;
    --off-white: #FFFCF9;
    --green: #169D53;
    --yellow: #FBD301;
    --orange: #ED5F1E;
    --purple: #881CA6;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--body-font);
}

/* Landing page */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--off-white);
    margin: 0;
}

/* Logo Animation */

@keyframes spiral-bounce {
    0% {
        transform: translateY(-100%) translateX(-100%) scale(0) rotate(-360deg);
        opacity: 0;
    }

    50% {
        transform: translateY(10px) translateX(10px) scale(1.2) rotate(0deg);
        opacity: 1;
    }

    70% {
        transform: translateY(-20px);
    }

    85% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.landing-logo {
    max-width: 100%;
    height: auto;
    animation: spiral-bounce 1s ease-in-out;
    display: block;
    object-fit: contain;
}

.logo-container {
    width: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-envelope {
    background-color: var(--off-white);
    border: none;
}

.button-envelope:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Homepage*/

.navbar-toggler {
    border: none;
}

#base-nav {
    background-color: var(--light-blue);
    margin-bottom: 1rem;
    width: 100%;
}

.navbar .nav-link {
    color: var(--dark-blue);
    font-family: var(--body-font);
    letter-spacing: 0.15rem;
    font-weight: 600;
    font-size: 20px;
}

.nav-link:hover {
    color: var(--yellow);
}

.navbar .nav-link .active {
    font-weight: 480;
}


.post-cloud {
    width: 20vw;
    height: min-content;
    background-color: #7BB7E0;
    border-radius: 50px;
}