{% load static %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board - Home</title>

    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/images/message-board-favicon.webp">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>
{% for post in object_list %}
<div class="post-cloud">
    <h2>{{post.title}}</h2>
    <p>{{post.content | linebreaks}}</p>
</div>

{% endfor %}
<!-- Form to submit own thank u's -->

<div id="post-form-container">
    <h2>Submit your own 'Thank You' Message here: </h2>
    <form method="post" action="{% url 'post_form' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>


</body>
</html>