{% load static %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>

    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/images/message-board-favicon.webp">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="logo-container">
        <img src="{% static 'images/message-board-logo.webp' %}" alt="Message Board Logo" class="landing-logo">
    </div>

    <a href="{% url 'home' %}" class="button-envelope">
        <img src="{% static 'images/enter-site-button.webp' %}" alt="Click me">
    </a>
    
    <!--<div class="button-container">
        <a href="#" class="envelope-button">
            <div class="top-flap"></div>
            <div class="envelope-body">
                <span class="button-text">Enter site</span>
            </div>
        </a>
    </div>-->

</body>
</html>