{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="logo-container">
        <img src="{% static 'images/message-board-logo.webp' %}" alt="Message Board Logo" class="landing-logo">
    </div>

    <div class="button-container">
        <a href="" class="envelope-button">
            <div class="top-flap"></div>
            <div class="body"></div>
            <div class="bottom-flap"></div>
        </a>
    </div>

</body>
</html>
