{% load static %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>

    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/images/message-board-favicon.webp">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="landing-body">
    <div class="logo-container">
        <img src="{% static 'images/thank-you-logo.webp' %}" alt="Thank You Dillon Logo" class="landing-logo">
    </div>

    <a href="{% url 'home' %}" class="button-envelope">
        <img src="{% static 'images/enter-site-button-transparent.webp' %}" alt="Click to enter site" aria-label="Click to enter site">
    </a>

</body>
</html>